/*parte3*/
:root {
    --cb: cubic-bezier(.05, .61, .41, .95);
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh; 
    transition: 0.25s;
    background: #e1e1e1;
  }


 
  body.dark {
    background: #192029;
    color: white;
  }

  .cards {
    display: flex;
    max-width: 800px;

    width: calc(100% - 100px);
    height: 400px;
  }
  /*
  .cards .card .info .title {
    font-weight: bold;
    font-size: 1.2rem;
  }*/
  /*parte8*/
  .cards .card .label .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
 
  /*
  .cards .card .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;  
  }
  */
  .cards .card {
    position: relative;
    min-width: 60px;
    background: var(--bg);
    overflow: hidden;
    margin: 5px;
    background-size: auto 150%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s var(--cb);
    border-radius: 20px;
  }
  
  .cards .card .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s var(--cb);
  }
  
  .cards .card.active .label {
    bottom: 20px;
    left: 20px;
  }
 
  .cards .card.active {
    flex-grow: 10000;
    background-size: auto 100%;
  }
  
  .cards .card:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }


